	<form action="/vegetables" method="get" id="views-exposed-form-catalog-page-1" accept-charset="UTF-8">
		<div id="edit-tid" class="form-checkboxes">
			<div data-drupal-selector="edit-tid" class="form-checkboxes">
				{{ views_filter_flowers }}
			</div>
		</div>
		<input data-bef-auto-submit-click="" class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-submit-catalog" type="submit" id="edit-submit-catalog" value="Apply">
	</form>