.hero {
  position: relative;
  height: 35vh;
  min-height: 275px;
  margin-bottom: 150px;
  max-width: 970px;
  text-align: center;
  background: linear-gradient(25deg, rgba(#065c99, .5) 0%, rgba(#000000, 0) 46%, rgba(#065c99, .5) 100%), #000000;

  &::before {
    content: '';
    background: url(../images/hero/hero-bottom-img.png) center center no-repeat;
    background-size: 100%;

    position: absolute;
    top: 98%;
    left: 40%;
    z-index: 0;
    width: 90%;
    height: 70%;
    transform: translateX(-50%) translateY(-50%);
    mix-blend-mode: screen;

    @media screen and (min-width: $max-sm) {
      left: 43%;
      width: 50%;
    }
  }

  @media screen and (min-width: $max-md) {
    height: 550px;
    margin-bottom: 230px;
  }
}

.hero--contacts {
  margin-bottom: 100px;

  &:before {
    display: none;
  }
}

.hero--contacts::after {
  @media screen and (min-width: $max-md) {
    content: url(../images/locations.png);
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 100;
    top: 0;
    left: auto;
    right: 0;
  }
}

.hero--product,
.hero--main {
  padding: 110px 15px 70px;
  height: auto;
  text-align: left;
  margin-bottom: 0;
  display: flex !important;
}

.hero--catalog {
  margin: 0 auto;

  .hero::before {
    display: none;
  }

  .hero__background-heading {
    display: none;

    @media screen and (min-width: $max-md){
      display: block;
      top: 42%;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translateY(-50%);
      font-size: 10rem;
      line-height: 1;
    }
  }
}

.hero-slider {
  position: relative;
  margin-bottom: 230px;

  &:after {
    display: none;
    @media screen and (min-width: $max-md) {
      content: url(../images/hero/hero-bottom-img.png);
      position: absolute;
      top: 105%;
      left: 43%;
      z-index: 0;
      right: 10%;
      transform: translateX(40%) translateY(-50%);
      mix-blend-mode: screen;
    }
  }
}

.hero-wrapper {
  position: relative;
}

.hero__slider-text {
  margin: 25px 0 50px;
  letter-spacing: 1px;
  text-transform: none !important;
  font-weight: 400;
  font-size: 1.525rem;
}

.hero--product {
  justify-content: space-between;
  background: 0;
  max-width: 1200px;

  .hero__heading {
    font-size: 1.8rem;

    @media screen and (min-width: $max-sm) {
      font-size: 2.25rem;
    }
  }

  .hero__img {
    object-fit: contain;
  }

  &::before {
    display: none;
  }
}

.hero--main {
  padding: 60px 7% 40px;
  background: none;

  &::before {
    display: none;
  }

  @media screen and (min-width: $max-md) {
    padding: 110px 17% 70px;
  }
}

.hero__background-heading {
  font-size: 5rem;
  display: block;
  text-align: center;
  font-weight: 900;
  top: 44%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient($green 0%, rgba(237, 184, 21, 0) 80%);
  opacity: 0.15;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  text-transform: uppercase;

  @media screen and (min-width: $max-sm) {
    top: 44%;
  }

  @media screen and (min-width: $max-md) {
    font-size: 15rem;
  }
}

.hero__background-heading--about {
  display: none;

  @media screen and (min-width: $max-sm) {
    left: 13%;
    transform: translateY(-50%);
    display: block;
  }
}

.hero__background-heading--blog {
  line-height: 1;
  font-size: 8.625rem;

  @media screen and (min-width: $max-md) {
    font-size: 25.625rem;
  }
}

.hero__img {
  object-fit: cover;
  max-width: 50%;
  max-height: 395px;
  mix-blend-mode: screen;
  display: none!important;

  @media screen and (min-width: $max-xs) {
    display: block!important;
  }
}

.hero__img--main {
  margin-right: 65px;
}

.hero-info {
  display: flex;
  margin-top: 40px;
}

.hero__info-img {
  margin-right: 30px;
  width: 70px;
  display: block;
  height: 117px;
}

.hero__img--blured {
  display: none !important;

  @media screen and (min-width: $max-sm) {
    display: block!important;
    filter: blur(5px);
    transform: rotate(-14deg) translateX(21%);
    z-index: -1;
    left: 0;
    top: 160px;
    position: absolute;
    margin-right: 65px;
  }
}

.hero__heading {
  margin-top: 15px;
  letter-spacing: 1px;
}

.hero__heading--centered {
  padding-top: 70%;
  transform: translateY(-50%);

  @media screen and (min-width: $max-xs) {
    padding-top: 50%;
  }
}

.hero__info-text {
  margin-top: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  max-width: 320px;
  line-height: 2;
}

.hero__info-amount {
  margin-top: 10px;
  color: $gray-2;
  text-transform: uppercase;
}
