// bower:scss
// endbower

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #ffffff;
  padding-top: 82px;
  background: radial-gradient(760.00px at 100% 13.11%, rgba(6, 92, 153, 0.5) 0%, rgba(6, 92, 153, 0) 100%), radial-gradient(472.00px at 0% 100%, rgba(6, 92, 153, 0.5) 0%, rgba(6, 92, 153, 0) 100%), #000000;
}
