// bower:scss
// endbower

html {
  @media (max-width: $max-sm) {
    font-size: 12px;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.blend-background {
  background: url('../images/body-bg.png') no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 82px;
}

//.main::before {
//  content: '';
//  position: absolute;
//  top: -80px;
//  width: 100%;
//  height: 100%;
//  background: url('../images/tomatoes-bg.png') no-repeat right;
//}
