//headings

.heading {
  text-transform: uppercase;
  background: linear-gradient(to right, $red 0%, $light-red 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.page-heading {
  font-size: 2rem;
  letter-spacing: 3px;
}

.page-heading--main-page {
  font-size: 3rem;
}

.section-heading {
  font-size: 1.5rem;
  letter-spacing: 0.24rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

//text

.text {
  font-size: 1rem;
  color: #fff;
}

.text-small {
  font-size: 0.625rem;
}


.text-small--accent {
  text-transform: uppercase;
}
