.peoples-slider {
  position: relative;
  margin-bottom: 100px;

  .slick-dots {
    left: initial;
    right: 14%;
  }
}

.peoples-slider__wrapper {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  background: #0B0B0B;
  box-shadow: -100px 50px 100px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.peoples-slider__slide {
  display: flex !important;
  align-items: flex-start;
}

.peoples-slider__img{
  width: 38.2%;
  height: 100%;
  object-fit: cover;
}

.peoples-slider__slide-wrapper {
  position: relative;
  padding: 0 100px;
  margin: auto 0;
}

.peoples-slider__name {
  font-size: 2.625rem;
}

.peoples-slider__pos {
  padding-bottom: 35px;
}

.peoples-slider__text {
  color: $gray-2;
  padding-left: 25px;
}

.peoples-slider__social {
  position: absolute;
  top: 120px;
  left: 75px;
}

.peoples-slider__social-link {
  display: block;
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.steps {
  padding-top: 50px;
}

.step {
  position: relative;
  padding-bottom: 100px;

  &:last-child {
    padding-bottom: 0;
  }
}

.step__text {
  position: relative;
  width: calc(100% - 500px);
  margin: auto;

  p {
    margin-bottom: 30px;

    b {
      font-weight: bold;
    }

    a {
      font-weight: bold;
      color: #489ED5;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.step__title {
  font-size: 1.625rem;
  line-height: 1.875rem;
  font-weight: 600;
  text-shadow: -60px 60px 75px rgba(0, 0, 0, 0.5);
  color: $green;
  position: absolute;
  top: 0;
  left: 70px;

  .step:nth-child(even) & {
    right: 70px;
    left: initial;
  }
}

.plans {
  padding-top: 200px;
}

.plans__wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.plans__title {
  margin-bottom: 37px;
}

.media {
  position: relative;
  overflow: hidden;
  padding-top: 170px;
  margin-bottom: 150px;

  .slick-slide {
    transition: all .4s ease;
    transform: scale(.6);

    &.slick-center {
      transform: scale(1);
    }
  }

  .slick {
    &-slider {
      padding-bottom: 80px;
    }

    &-arrow {
      position: absolute;
      bottom: 0;
      text-indent: 99999px;
      background: transparent;
      border: none;
      outline: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    &-prev {
      background: url(../images/svg/calendar__btn-l.svg) no-repeat;
      background-size: 100%;
      left: calc(50% - 35px);
      transform: translateX(-50%);
    }

    &-next {
      background: url(../images/svg/calendar__btn-r.svg) no-repeat;
      background-size: 100%;
      left: calc(50% + 35px);
      transform: translateX(-50%);
    }
  }
}
