.blog {
  padding-bottom: 200px;
}

.blog > .container {
  max-width: 1220px;
  width: 110%;
  padding: 0;
}

.blog-intro__text {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.8;
  max-width: 770px;

  &:first-of-type {
    margin-top: -20px;

    @media screen and (min-width: $max-md) {
      margin-top: 20px;
    }
  }
}

.blog-intro__greeting {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.625rem;
}

