.breadcrumbs {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.breadcrumbs__item {
  display: inline-block;
  color: #2475BB;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .675rem;

  &-link {
    color: #2475BB;
    letter-spacing: .2em;
  }

  &-delimiter {
    font-size: .75rem;
  }
}

.breadcrumbs__item-link {
  text-decoration: none;
}
