.hits {
  margin: 120px 0;

  @media (max-width: $max-xs) {
    margin: 60px 0;
  }
}

.hits__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hits__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.hits__item-info {
  margin: 45px 6%;
  flex: 1 0 50%;
  align-self: center;

  @media (max-width: $max-xl + 1px) and (min-width: $max-md + 1px) {
    max-width: 36% !important;
  }

  @media screen and (min-width: $max-md) {
    max-width: 520px;
    margin: 45px 6% 0;
  }
}

.hits__item-description {
  line-height: 1.8;
  font-weight: 300;
  margin-top: 25px;

  p {
    margin-top: 20px;
  }
}

.hits__item-img {
  display: block;
  flex: 0 1 100%;
  object-fit: cover;
  max-height: 250px;

  @media screen and (min-width: $max-md) {
    max-height: 700px;
    flex: 0 1 50%;
    width: 50%;
  }
}

.product__icons {
  mix-blend-mode: screen;
}
