.innovations-page {
  padding-bottom: 100px;

  @media screen and (min-width: $max-md) {
    padding-bottom: 200px;
  }

  .hero {
    margin-bottom: 0;
  }
}

.innovation__text {
  display: inline-block;
  margin-top: 40px;
  font-weight: 300;

  @media screen and (min-width: $max-md) {
    max-width: 38%;
    padding-left: 100px;
    margin-right: 110px;
  }

  p {
    margin-top: 35px;
  }
}

.innovation {
  padding: 0 7%;

  @media screen and (min-width: $max-sm) {
    margin-top: 40px;
  }

  @media screen and (min-width: $max-md) {
    padding: 0;
    margin-top: 90px;
  }
}

.innovation-caption {
  font-weight: 600;
  max-width: 770px;
  width: 90%;
  text-align: center;
  line-height: 1.8;
  margin: 123px auto 70px;

  &:first-of-type {
    margin: 0 auto 70px;
  }
}

.innovation__img {
  display: inline-block;
  max-width: 480px;
  margin: 40px 0 0 48%;
  transform: translateX(-50%);
  width: 90%;

  @media screen and (min-width: $max-md) {
    margin: 0 0 11%;
    transform: none;
  }
}
