.innovations-page {
  padding-bottom: 200px;
}

.innovation__text {
  display: inline-block;
  max-width: 38%;
  margin-top: 40px;
  font-weight: 300;
  padding-left: 100px;
  margin-right: 110px;

  p {
    margin-top: 35px;
  }
}

.innovation {
  margin-top: 90px;
}

.innovation-caption {
  font-weight: 600;
  max-width: 770px;
  text-align: center;
  line-height: 1.8;
  margin: 123px auto 0;
}

.innovation__img {
  display: inline-block;
  max-width: 480px;
  margin-bottom: 11%;
}
