.map {
  position: relative;
  width: 100%;
  overflow: hidden;

  iframe {
    display: inherit;
    pointer-events: none;
    position: relative;

    &.is-clicked {
      pointer-events: auto;
    }
  }
}
