.page-select {
  display: flex;
  justify-content: space-between;
  max-width: 310px;
  margin: 65px auto;
  width: 66%;
}

.page-select__link  {
  text-decoration: none;
  transition: transform .25s;

  &:hover {
    transform: scale(1.07);
  }
}

.page-select__img {
  display: block;
  margin: 0 auto 30px;
  max-width: 70px;

  @media screen and (min-width: $max-xs) {
    max-width: 98px;
  }
}

.page-select__name {
  color: $white;
  text-transform: uppercase;
  margin: 0 10px;
}

.page-select--catalog {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 315px;

  .page-select__link:first-child .page-select__img {
    margin: 10px 0 10px 70%;
  }

  .page-select__link:last-child .page-select__img {
    margin: 10px 5px;
  }
}
