.page-select {
  display: flex;
  justify-content: space-between;
  max-width: 310px;
  margin: 65px auto;
  width: 66%;

  @media (max-width: $max-xs) {
    width: 80%;
  }
}

.page-select__link  {
  text-decoration: none;
  transition: transform .25s;

  &:hover {
    transform: scale(1.07);
  }
}

.page-select__img {
  display: block;
  margin: 0 auto 30px;
  max-width: 70px;

  @media screen and (min-width: $max-xs) {
    max-width: 98px;
  }
}

.page-select__name {
  color: $white;
  text-transform: uppercase;
  margin: 0 10px;
  white-space: nowrap;
  width: 95px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: text-bottom;

  @media (max-width: $max-xs) {
    width: 75px;
  }
}

.page-select--catalog {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 315px;

  .page-select__link:first-child {
    .page-select__img {
      margin: 10px 10px 10px auto;
    }

    .page-select__name {
      text-align: right;
    }
  }

  .page-select__link:last-child {
    .page-select__img {
      margin: 10px 10px;
    }

    .page-select__name {
      text-align: left;
    }
  }
}

.hero--catalog {
  .page-select {
    max-width: none!important;
    width: auto!important;

    @media (max-width: $max-xs) {
      width: 270px !important;
    }
  }

  .page-select__name {
    text-overflow: ellipsis;
    overflow: hidden;
    //width: 175px!important;
    width: auto;
    vertical-align: middle;
  }

  .page-select__img {
    height: 25px;
  }
}


.page-select--product {
  max-width: 250px;

  @media (max-width: $max-sm) {
    margin: 40px auto 0;
  }

  .page-select__link {
    position: relative;

    .page-select__arrow {

      @media (min-width: $max-sm + 1px) {
        position: absolute;
        top: 40px;
      }
    }

    &:first-child {

      .page-select__arrow {
        @media (min-width: $max-sm + 1px) {
          left: 12px;
        }
      }

      .page-select__img {
        margin-right: 0;
      }

      .page-select__name {
        margin-right: 0;
        text-align: right;
      }
    }

    &:last-child {

      .page-select__arrow {
        @media (min-width: $max-sm + 1px) {
          right: 12px;
        }
      }

      .page-select__img {
        margin-left: 0;
      }

      .page-select__name {
        margin-left: 0;
      }
    }

    .page-select__img {
      max-width: 50px;
    }
  }
}
