.products {
  position: relative;
  display: flex;
  margin-bottom: 180px;

  @media(max-width: $max-sm) {
    flex-direction: column;
  }

  .js-pager__items {
    @media (min-width: $max-xs + 1px) {
      padding-left: 10px;
    }
  }

  .js-pager__items.pager {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    .button {
      font-size: .85rem;
      padding: 0.5rem 1rem;
    }
  }
}

.products__dropdown-toggler {
  display: none;
  padding: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  width: calc(100% - 60px);
  background: linear-gradient(0deg, rgba(6,92,153,0.37) 0%, rgba(6,92,153,0.12) 46%, rgba(6,92,153,0.37) 100%),#000;
  margin: 0 auto 30px;
  cursor: pointer;

  @media (max-width: $max-sm) {
    display: block;
  }
}

.products__filters {
  width: 191px;

  @media (max-width:$max-sm) {
    position: absolute;
    width: calc(100% - 30px);
    max-height: 0;
    overflow: hidden;
    top: 50px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    padding: 0;
    background: #061927;
    transition: all .8s ease;

    .products__dropdown-toggler.active + & {
      max-height: 100%;
    }
  }
}

.products__filters + div {
  width: 100%;
}

.js-form-item {

  .option {
    cursor: pointer;
  }

  @media (max-width: $max-sm) {
    margin: 5px 0;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    color: $gray-2;

    @media (max-width: $max-sm) {
      font-size: 1.2rem;
      padding: 0 15px;
    }

    @media (max-width: $max-xs) {
      font-size: .875rem;
    }

    &.active {
      color: $white;
    }
  }
}

.products__content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  //width: calc(100% - 191px);
  align-self: flex-start;
  width: 100%;

  @media (max-width: $max-sm) {
    width: 100%;
  }
}

.products__content-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(20% - 30px);
  min-height: 240px;
  //align-self: flex-start;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: 28px;
  background: linear-gradient(60deg, rgba(6,92,153,0.37) 0%, rgba(6,92,153,0.12) 46%, rgba(6,92,153,0.37) 100%),#000;
  box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.25);
  transition: all .3s ease;
  cursor: pointer;
  text-decoration: none;

  @media (max-width: $max-lg) {
    width: calc(33% - 30px);
  }

  @media (max-width: $max-md) {
    width: calc(50% - 30px);
  }

  @media (max-width: $max-sm) {
    margin: 0 15px 30px;
  }

  @media (max-width: $max-xs) {
    width: calc(100% - 30px);
  }

  &:hover {
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.4);
  }


  img {
    width: 80px;
    height: 130px;
    object-fit: cover;
  }

  .new {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .625rem;
    text-transform: uppercase;
    color: #333333;
    background: $orange;
    border-radius: 10px;
    padding: 3px 11px;
  }

  .product_title {
    margin-top: 20px;
    margin-bottom: auto;
    color: $red;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .03em;
    padding: 0 5px 15px;

    @media (max-width: $max-xs) {
      font-size: 1.5rem;
    }
  }

  .button_buy a {
    @extend .button;
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0.4rem 1.2rem;
    margin-bottom: 20px;

    @media (max-width: $max-xs) {
      font-size: 1rem;
    }
  }
}
