.product {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;

  @media screen and (min-width: $max-sm) {
    margin-top: 130px;
  }

  @media (max-width: $max-xs) {
    flex-direction: column;
  }
}

.tabs{

  @media screen and (min-width: $max-md) {
    flex: 1 0 100%;
  }
}

.tabs__link {
  color: #BDBDBD;
  font-size: 1rem;
  letter-spacing: 0.4px;
  flex: 1 0 13%;
  cursor: pointer;
  height: 30px;
  display: inline-block;
  text-align: left;
  transition: all 0.25s;
  margin: 0 0 20px 0;

  span {
    display: block;
    padding: 10px 20px;
    transition: border 0.25s;
    border-radius: 5px;

    @media screen and (max-width: $max-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $blue;
  }

  &.is-active {
    span {
      border: 1px $blue solid;
      color: #fff;

      &:hover {
        cursor: default;
      }
    }
  }
}

.tabs-content-wrapper {
  //flex: 1 0 50%;

  @media screen and (min-width: $max-xs) {
    //margin-left: 10%;
  }
}

.tabs-content {
  padding: 0 20px;
  padding-left: 0;
  font-weight: 300;
  display: none;

  &.is-active {
    display: block;
  }

  .text{
    margin-top: 35px;
  }
}
