<section class="catalog">
  <div class="container">
    <h4 class="catalog__title section-heading">Каталог</h4>
    <div class="catalog__wrapper">
    <img src="./images/catalog_bg.jpg" alt="" class="catalog__bg">
    	<a href="#" class="catalog__item">
        <img class="catalog__item-img" src="./images/svg/catalog_i_1.svg" alt="">
        <p class="catalog__item-name text">Насіння овочів та ягід</p>
      </a>
      <a href="#" class="catalog__item">
        <img class="catalog__item-img" src="./images/svg/catalog_i_2.svg" alt="">
        <p class="catalog__item-name text">Насіння квітів</p>
      </a>
      <a href="#" class="catalog__item">
        <img class="catalog__item-img" src="./images/svg/catalog_i_3.svg" alt="">
        <p class="catalog__item-name text">Добрива</p>
      </a>
    </div>
  </div>
</section>
