<footer class="footer">
  <div class="container">
    <div class="footer__wrapper footer__wrapper_align-center">
      <img src="./images/logo.png" alt="" class="footer__logo">
      <nav class="footer__nav">
        <a href="#" class="footer__nav-link">Головна</a>
        <a href="#" class="footer__nav-link">Каталог</a>
        <a href="#" class="footer__nav-link">Про нас</a>
        <a href="#" class="footer__nav-link">Інновації</a>
        <a href="#" class="footer__nav-link">Блоги</a>
        <a href="#" class="footer__nav-link">Контакти</a>
      </nav>
    </div>
    <div class="footer__wrapper footer__wrapper--extra-padding">
      <div class="footer__contact">
        <a href="mailto:info@ledaagro.com" class="footer__contact-mail">info@ledaagro.com</a>
        <div class="footer__address text">
          Київ, 04050,<br>
          вул. Мельникова, 2/10
          <a href="tel:+380442908782" class="footer__contact-tel text">(044) 290 8782</a>
        </div>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__social-link">
          <img src="./images/svg/facebook.svg" alt="">
        </a>
        <a href="#" class="footer__social-link">
          <img src="./images/svg/insta.svg" alt="">
        </a>
      </div>
    </div>
    <div class="footer__wrapper">
      <div class="footer__allright">Schroedinger's cat lab ©. All rights reserved.</div>
    </div>
  </div>
</footer>
