<div class="navigation">
  <div class="container">
    <div class="navigation__wrapper">
      <div class="navigation__social">
        <a href="#" class="navigation__social-link">
          <img src="./images/svg/facebook.svg" alt="">
        </a>
        <a href="#" class="navigation__social-link">
          <img src="./images/svg/insta.svg" alt="">
        </a>
      </div>
      <nav class="navigation__main-nav">
        <a href="#" class="navigation__main-nav-link">Про нас</a>
        <a href="#" class="navigation__main-nav-link">Блоги</a>
        <a href="#" class="navigation__main-nav-link">Інновації</a>
        <a href="#" class="navigation__main-nav-link">Контакти</a>
      </nav>
      <div class="navigation__pane">
        <div class="navigation__pane-links">
          <a href="#" class="navigation__pane-links-link">Насіння овочів</a>
          <a href="#" class="navigation__pane-links-link">Насіння квітів</a>
          <a href="#" class="navigation__pane-links-link">Добрива</a>
        </div>
        <div class="navigation__pane-content">
          <a href="#" class="navigation__pane-content-link">Баклажан</a>
          <a href="#" class="navigation__pane-content-link">Буряк столовий</a>
          <a href="#" class="navigation__pane-content-link">Гарбуз</a>
          <a href="#" class="navigation__pane-content-link">Горох овочевий</a>
          <a href="#" class="navigation__pane-content-link">Диня</a>
          <a href="#" class="navigation__pane-content-link">Кабачок</a>
          <a href="#" class="navigation__pane-content-link">Кавун</a>
          <a href="#" class="navigation__pane-content-link">Капуста білокачанна</a>
          <a href="#" class="navigation__pane-content-link">Капуста брокколі</a>
          <a href="#" class="navigation__pane-content-link">Капуста пекінська</a>
          <a href="#" class="navigation__pane-content-link">Капуста савойська</a>
          <a href="#" class="navigation__pane-content-link">Капуста цвітна</a>
          <a href="#" class="navigation__pane-content-link">Перець</a>
          <a href="#" class="navigation__pane-content-link">Квасоля</a>
          <a href="#" class="navigation__pane-content-link">Кукурудза</a>
          <a href="#" class="navigation__pane-content-link">Лікарські рослини</a>
          <a href="#" class="navigation__pane-content-link">Морква</a>
          <a href="#" class="navigation__pane-content-link">Огірок комахозап.</a>
          <a href="#" class="navigation__pane-content-link">Огірок самозапильний</a>
          <a href="#" class="navigation__pane-content-link">Капуста червонокачанна</a>
          <a href="#" class="navigation__pane-content-link">Пряні трави</a>
          <a href="#" class="navigation__pane-content-link">Редиска</a>
          <a href="#" class="navigation__pane-content-link">Салат</a>
          <a href="#" class="navigation__pane-content-link">Селера</a>
          <a href="#" class="navigation__pane-content-link">Томат високорослий</a>
          <a href="#" class="navigation__pane-content-link">Томат низькорослий</a>
          <a href="#" class="navigation__pane-content-link">Цибуля</a>
          <a href="#" class="navigation__pane-content-link">Овочеві рослини</a>
        </div>
      </div>
    </div>
  </div>
</div>
