{% if language == 'uk' %}
    <section class="calendar">
        <div class="container">
            <h4 class="calendar__title section-heading">{{ 'Посевной календарь'|t }}</h4>
            <div class="calendar__wrapper">
                <div class="calendar__year">2018</div>
                <div class="calendar__navigation">
                    <a href="#" class="calendar__navigation-button calendar__navigation-left"></a>
                    <a href="#" class="calendar__navigation-button calendar__navigation-right"></a>
                </div>
                <div class="calendar__slider">
                    <div class="calendar__scrolled-content">
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Лютий</td>
                                    <td>Березень</td>
                                    <td>Квітень</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажани</th>
                                    <td>18, 21, 25</td>
                                    <td>21, 25, 26</td>
                                    <td>18, 21, 27, 28, 29, 30</td>
                                </tr>
                                <tr>
                                    <th>Гарбуз</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>19-23</td>
                                    <td>4-6, 8-11</td>
                                </tr>
                                <tr>
                                    <th>Зелень: цибуля на перо, петрушка, селера листкова, кріп, салат</th>
                                    <td>17, 21, 25</td>
                                    <td>6, 7, 21-25</td>
                                    <td>5,6,19-23</td>
                                </tr>
                                <tr>
                                    <th>Кавун, диня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>20-25</td>
                                    <td>7-9,19-24</td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патисони</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>19-23</td>
                                    <td>6,7, 22-24</td>
                                </tr>
                                <tr>
                                    <th>Картопля</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>7-9, 21-25</td>
                                </tr>
                                <tr>
                                    <th>Капуста білоголова, цвітна</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>5, 6, 19-20, 23-25</td>
                                    <td>7-9, 19-23</td>
                                </tr>
                                <tr>
                                    <th>Капуста червоноголова</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>20, 24, 26, 26</td>
                                    <td>18, 21, 27, 29, 30</td>
                                </tr>
                                <tr>
                                    <th>Квасоля, горох, боби</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>19-23</td>
                                    <td>5-8, 20-24</td>
                                </tr>
                                <tr>
                                    <th>Морква, буряк</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>5, 7, 9, 11, 12</td>
                                    <td>5-7, 19-20, 24-26</td>
                                </tr>
                                <tr>
                                    <th>Огірки</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>7-9, 20-23</td>
                                    <td>5-7, 20-24</td>
                                </tr>
                                <tr>
                                    <th>Перець солодкий</th>
                                    <td>17-18, 22, 26</td>
                                    <td>20, 25, 26</td>
                                    <td>18, 22, 27, 28, 30</td>
                                </tr>
                                <tr>
                                    <th>Петрушка коренева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>5, 8, 10, 11, 16</td>
                                    <td>2, 3, 6, 7, 12, 13</td>
                                </tr>
                                <tr>
                                    <th>Помідори</th>
                                    <td>17, 18, 19, 20, 21, 22, 25, 26</td>
                                    <td>18,19,20, 21, 24, 25, 26, 28, 29</td>
                                    <td>17, 20, 21, 22, 25, 26</td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>5, 7, 8, 10, 11, 12</td>
                                    <td>5, 6, 7, 9, 11, 12, 16</td>
                                    <td>2, 3, 4, 7, 8, 12, 13</td>
                                </tr>
                                <tr>
                                    <th>Цибуля ріпчаста</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>2, 3, 6, 7, 12, 13</td>
                                </tr>
                                <tr>
                                    <th>Часник</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>22-25</td>
                                    <td>6-7, 23-28</td>
                                </tr>
                                <tr>
                                    <th>Плодові кущі</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>21, 24, 25</td>
                                    <td>17, 21, 22, 27, 28, 29, 30</td>
                                </tr>
                                <tr>
                                    <th>Плодові дерева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>20, 24, 26</td>
                                    <td>18, 21, 22, 27, 28</td>
                                </tr>
                                <tr>
                                    <th>Багаторічні квіти</th>
                                    <td>18, 21, 25</td>
                                    <td>21, 25, 26</td>
                                    <td>21, 27, 28, 29, 30</td>
                                </tr>
                                <tr>
                                    <th>Однорічні квіти</th>
                                    <td>17-18, 22, 26</td>
                                    <td>21, 24, 25, 26</td>
                                    <td>18, 22, 27, 29, 30</td>
                                </tr>
                                <tr>
                                    <th>Квіти з цибулин</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>6, 7, 9, 12 ,16</td>
                                    <td>14, 21, 22, 27, 29</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Травень</td>
                                    <td>Червень</td>
                                    <td>Липень</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажани</th>
                                    <td>18, 24, 26, 27</td>
                                    <td>14, 21, 22</td>
                                    <td>19, 20, 21, 23, 26</td>
                                </tr>
                                <tr>
                                    <th>Гарбуз</th>
                                    <td>6-9, 19-25</td>
                                    <td>5-8,14-19</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Зелень: цибуля на перо, петрушка, селера листкова, кріп, салат</th>
                                    <td>6-8, 20-24, 26, 27</td>
                                    <td>4, 7, 17-22</td>
                                    <td>18, 19, 21, 22, 25, 26</td>
                                </tr>
                                <tr>
                                    <th>Кавун, диня</th>
                                    <td>7, 8, 17-25</td>
                                    <td>8, 9, 17-22</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патисони</th>
                                    <td>6-9, 19-25</td>
                                    <td>5-8, 16-21</td>
                                    <td>18, 20,21, 22, 25</td>
                                </tr>
                                <tr>
                                    <th>Картопля</th>
                                    <td>5-9, 19-24</td>
                                    <td>4-6</td>
                                    <td>3, 4, 12, 13</td>
                                </tr>
                                <tr>
                                    <th>Капуста білоголова, цвітна</th>
                                    <td>5-8, 19-25</td>
                                    <td>7-9, 16-21, 25-26</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста червоноголова</th>
                                    <td>18, 25, 27</td>
                                    <td>14, 15, 21, 23, 24, 25, 29</td>
                                    <td>19, 20, 22, 25, 26</td>
                                </tr>
                                <tr>
                                    <th>Квасоля, горох, боби</th>
                                    <td>6-7, 21-25</td>
                                    <td>16-21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Морква, буряк</th>
                                    <td>5-9, 19-24</td>
                                    <td>4, 6-8, 17-20, 22-24</td>
                                    <td>3, 8, 9, 13, 30</td>
                                </tr>
                                <tr>
                                    <th>Огірки</th>
                                    <td>5-8, 19-27</td>
                                    <td>6-8, 18-23</td>
                                    <td>18, 20, 21, 23, 26</td>
                                </tr>
                                <tr>
                                    <th>Перець солодкий</th>
                                    <td>19, 25, 27</td>
                                    <td>14, 15, 23, 24, 27, 29</td>
                                    <td>19, 20, 23, 24, 27, 29</td>
                                </tr>
                                <tr>
                                    <th>Петрушка коренева</th>
                                    <td>2, 3, 6, 14, 30</td>
                                    <td>6, 7, 11</td>
                                    <td>3, 4, 12</td>
                                </tr>
                                <tr>
                                    <th>Помідори</th>
                                    <td>18, 19, 26, 27, 28</td>
                                    <td>4, 15</td>
                                    <td>5-10</td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>2, 6, 11, 30, 31</td>
                                    <td>6, 7, 10, 11</td>
                                    <td>4, 8, 9, 12, 13, 30, 31</td>
                                </tr>
                                <tr>
                                    <th>Цибуля ріпчаста</th>
                                    <td>4, 9, 14, 30</td>
                                    <td>6, 7, 11</td>
                                    <td>3, 4, 9, 12, 30</td>
                                </tr>
                                <tr>
                                    <th>Часник</th>
                                    <td>5-8, 20-25</td>
                                    <td>7-9, 17-21, 25-26</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Плодові кущі</th>
                                    <td>18, 25, 27, 28</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Плодові дерева</th>
                                    <td>18, 25, 27, 28</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Багаторічні квіти</th>
                                    <td>18, 24, 27, 28</td>
                                    <td>21, 23, 24, 27</td>
                                    <td>20, 21, 22, 25, 26</td>
                                </tr>
                                <tr>
                                    <th>Однорічні квіти</th>
                                    <td>19, 27, 28</td>
                                    <td>14, 15, 23, 24, 27</td>
                                    <td>20, 21, 22, 25, 26</td>
                                </tr>
                                <tr>
                                    <th>Квіти з цибулин</th>
                                    <td>4, 5, 9, 10, 30, 31</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Серпень</td>
                                    <td>Вересень</td>
                                    <td>Жовтень</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажани</th>
                                    <td>14, 16, 17, 23, 24</td>
                                    <td>12, 13, 15, 16, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Гарбуз</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Зелень: цибуля на перо, петрушка, селера листкова, кріп, салат</th>
                                    <td>15, 16, 17, 19, 20, 22, 23</td>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>1-5, 11, 29-31</td>
                                </tr>
                                <tr>
                                    <th>Кавун, диня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патисони</th>
                                    <td>15, 17, 18, 21, 22, 23</td>
                                    <td>12, 14-16, 18, 23-24</td>
                                    <td>10, 12-14, 20</td>
                                </tr>
                                <tr>
                                    <th>Картопля</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста білоголова, цвітна</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста червоноголова</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Квасоля, горох, боби</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Морква, буряк</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Огірки</th>
                                    <td>15, 16, 18, 20, 23</td>
                                    <td>12, 14, 15, 17, 23</td>
                                    <td>10, 11, 13, 15</td>
                                </tr>
                                <tr>
                                    <th>Перець солодкий</th>
                                    <td>16, 17, 19, 20, 22, 23</td>
                                    <td>11, 12, 14, 15, 16, 18, 23, 24</td>
                                    <td>11, 12, 14, 15, 20, 21</td>
                                </tr>
                                <tr>
                                    <th>Петрушка коренева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Помідори</th>
                                    <td>16, 17, 19, 21, 22</td>
                                    <td>11, 12, 14, 15, 17, 19, 23</td>
                                    <td>11, 12, 14, 15, 21</td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>1, 8, 9, 27, 28, 31</td>
                                    <td>5, 6, 27, 29</td>
                                    <td>2, 3, 25, 26, 30</td>
                                </tr>
                                <tr>
                                    <th>Цибуля ріпчаста</th>
                                    <td>1, 8, 9, 27, 28</td>
                                    <td>5, 6, 27, 29</td>
                                    <td>3, 8, 26, 29</td>
                                </tr>
                                <tr>
                                    <th>Часник</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>4-5, 1-15</td>
                                    <td>11-13</td>
                                </tr>
                                <tr>
                                    <th>Плодові кущі</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 15, 16, 17, 19, 23</td>
                                </tr>
                                <tr>
                                    <th>Плодові дерева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 14, 16, 17, 19, 23</td>
                                    <td>11, 13, 14, 16, 20, 21</td>
                                </tr>
                                <tr>
                                    <th>Багаторічні квіти</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Однорічні квіти</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Квіти з цибулин</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 15, 16, 18, 23, 24</td>
                                    <td>10, 11, 12, 15, 16, 20</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Листопад</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажани</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Гарбуз</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Зелень: цибуля на перо, петрушка, селера листкова, кріп, салат</th>
                                    <td>8, 11, 16-18</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Кавун, диня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патисони</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Картопля</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Капуста білоголова, цвітна</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Капуста червоноголова</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Квасоля, горох, боби</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Морква, буряк</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Огірки</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Перець солодкий</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Петрушка коренева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Помідори</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Цибуля ріпчаста</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Часник</th>
                                    <td>8, 15-18</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Плодові кущі</th>
                                    <td>12, 13, 15, 16, 20</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Плодові дерева</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Багаторічні квіти</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Однорічні квіти</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Квіти з цибулин</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="calendar">
        <div class="container">
            <h4 class="calendar__title section-heading">{{ 'Посевной календарь'|t }}</h4>
            <div class="calendar__wrapper">
                <div class="calendar__year">2018</div>
                <div class="calendar__navigation">
                    <a href="#" class="calendar__navigation-button calendar__navigation-left"></a>
                    <a href="#" class="calendar__navigation-button calendar__navigation-right"></a>
                </div>
                <div class="calendar__slider">
                    <div class="calendar__scrolled-content">
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Сентябрь</td>
                                    <td>Октябрь</td>
                                    <td>Декабрь</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажаны</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>12, 13, 15, 16, 20, 21</td>
                                    <td>Декабрь</td>
                                </tr>
                                <tr>
                                    <th>Тыква</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Зелень: лук на перо, петрушка, сельдерей слоеный, укроп, салат</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>1-5, 11, 29-31</td>
                                    <td>8, 11, 16-18</td>
                                </tr>
                                <tr>
                                    <th>Арбуз, дыня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патиссоны</th>
                                    <td>12, 14-16, 18, 23-24</td>
                                    <td>10, 12-14, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Картофель</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста белоголовая, цветная</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста красноголовая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Фасоль, горох, бобы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Морковь, свекла</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Огурцы</th>
                                    <td>12, 14, 15, 17, 23</td>
                                    <td>10, 11, 13, 15</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Перец сладок</th>
                                    <td>11, 12, 14, 15, 16, 18, 23, 24</td>
                                    <td>11, 12, 14, 15, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Петрушка корневая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Помидоры</th>
                                    <td>11, 12, 14, 15, 17, 19, 23</td>
                                    <td>11, 12, 14, 15, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>2, 3, 25, 26, 30</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Лук репчат</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>3, 8, 26, 29</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Чеснок</th>
                                    <td>4-5, 1-15</td>
                                    <td>11-13</td>
                                    <td>8, 15-18</td>
                                </tr>
                                <tr>
                                    <th>Плодовые кусты</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 15, 16, 17, 19, 23</td>
                                    <td>12, 13, 15, 16, 20</td>
                                </tr>
                                <tr>
                                    <th>Плодовые деревья</th>
                                    <td>12, 13, 14, 16, 17, 19, 23</td>
                                    <td>11, 13, 14, 16, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Многолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Однолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Цветы из луковиц</th>
                                    <td>12, 13, 15, 16, 18, 23, 24</td>
                                    <td>10, 11, 12, 15, 16, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Сентябрь</td>
                                    <td>Октябрь</td>
                                    <td>Ноябрь</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажаны</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>12, 13, 15, 16, 20, 21</td>
                                    <td>Ноябрь</td>
                                </tr>
                                <tr>
                                    <th>Тыква</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Зелень: лук на перо, петрушка, сельдерей слоеный, укроп, салат</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>1-5, 11, 29-31</td>
                                    <td>8, 11, 16-18</td>
                                </tr>
                                <tr>
                                    <th>Арбуз, дыня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патиссоны</th>
                                    <td>12, 14-16, 18, 23-24</td>
                                    <td>10, 12-14, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Картофель</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста белоголовая, цветная</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста красноголовая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Фасоль, горох, бобы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Морковь, свекла</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Огурцы</th>
                                    <td>12, 14, 15, 17, 23</td>
                                    <td>10, 11, 13, 15</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Перец сладок</th>
                                    <td>11, 12, 14, 15, 16, 18, 23, 24</td>
                                    <td>11, 12, 14, 15, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Петрушка корневая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Помидоры</th>
                                    <td>11, 12, 14, 15, 17, 19, 23</td>
                                    <td>11, 12, 14, 15, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>2, 3, 25, 26, 30</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Лук репчат</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>3, 8, 26, 29</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Чеснок</th>
                                    <td>4-5, 1-15</td>
                                    <td>11-13</td>
                                    <td>8, 15-18</td>
                                </tr>
                                <tr>
                                    <th>Плодовые кусты</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 15, 16, 17, 19, 23</td>
                                    <td>12, 13, 15, 16, 20</td>
                                </tr>
                                <tr>
                                    <th>Плодовые деревья</th>
                                    <td>12, 13, 14, 16, 17, 19, 23</td>
                                    <td>11, 13, 14, 16, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Многолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Однолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Цветы из луковиц</th>
                                    <td>12, 13, 15, 16, 18, 23, 24</td>
                                    <td>10, 11, 12, 15, 16, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="calendar__table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <td>Сентябрь</td>
                                    <td>Октябрь</td>
                                    <td>Ноябрь</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Баклажаны</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>12, 13, 15, 16, 20, 21</td>
                                    <td>Ноябрь</td>
                                </tr>
                                <tr>
                                    <th>Тыква</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Зелень: лук на перо, петрушка, сельдерей слоеный, укроп, салат</th>
                                    <td>13, 14, 16, 17, 23, 24</td>
                                    <td>1-5, 11, 29-31</td>
                                    <td>8, 11, 16-18</td>
                                </tr>
                                <tr>
                                    <th>Арбуз, дыня</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Кабачки, патиссоны</th>
                                    <td>12, 14-16, 18, 23-24</td>
                                    <td>10, 12-14, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Картофель</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста белоголовая, цветная</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Капуста красноголовая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Фасоль, горох, бобы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Морковь, свекла</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Огурцы</th>
                                    <td>12, 14, 15, 17, 23</td>
                                    <td>10, 11, 13, 15</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Перец сладок</th>
                                    <td>11, 12, 14, 15, 16, 18, 23, 24</td>
                                    <td>11, 12, 14, 15, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Петрушка корневая</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Помидоры</th>
                                    <td>11, 12, 14, 15, 17, 19, 23</td>
                                    <td>11, 12, 14, 15, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Редиска, редька</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>2, 3, 25, 26, 30</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Лук репчат</th>
                                    <td>5, 6, 27, 29</td>
                                    <td>3, 8, 26, 29</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Чеснок</th>
                                    <td>4-5, 1-15</td>
                                    <td>11-13</td>
                                    <td>8, 15-18</td>
                                </tr>
                                <tr>
                                    <th>Плодовые кусты</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td>12, 13, 15, 16, 17, 19, 23</td>
                                    <td>12, 13, 15, 16, 20</td>
                                </tr>
                                <tr>
                                    <th>Плодовые деревья</th>
                                    <td>12, 13, 14, 16, 17, 19, 23</td>
                                    <td>11, 13, 14, 16, 20, 21</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Многолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Однолетние цветы</th>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                                <tr>
                                    <th>Цветы из луковиц</th>
                                    <td>12, 13, 15, 16, 18, 23, 24</td>
                                    <td>10, 11, 12, 15, 16, 20</td>
                                    <td><img src="/themes/new/images/svg/cross.svg" alt="" class="calendar__cross-img"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}