<main>
    <div class="hero-wrapper">
        <p class="hero__background-heading">Инновации</p>
        <section class="hero container">
            <h2 class="hero__heading hero__heading--centered heading">Инновации</h2>
        </section>
    </div>
    <h3 class="innovation-caption">{{ node.field_page_text_field.value|raw }}</h3>
    {{ views_innovation_item }}
    <h3 class="innovation-caption">{{ node.field_page_text_footer.value|raw }}</h3>
</main>