<main>
    <section class="hero hero--contacts container">
        <h2 class="hero__heading hero__heading--centered heading">Контакты</h2>
        <p class="hero__background-heading">Контакты</p>
        <div class="contacts js-contacts">
            {{ views_contacts }}
			<a href="#shops" class="contacts__item contacts__item--anchor">К магазинам <img src="/themes/new/images/svg/arrow-down.svg" class="contacts__item-arrow"/></a>
        </div>
    </section>
	<section class="map" id="shops">
		<div class="container">
			<h4 class="catalog__title section-heading">{{ 'Где купить'|t }}</h4>
		</div>
		<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Igd7ceRCWB1ZJCf-sYFibPIao0gJ-nlY" width="100%" height="500"></iframe>
	</section>
</main>