<main>
    <div class="hero-wrapper">
        <p class="hero__background-heading hero__background-heading--about">О нас</p>
        <section class="hero container">
            <h2 class="hero__heading hero__heading--centered heading">О нас</h2>
        </section>
    </div>
    <section class="peoples-slider">
        <div class="container">
            <h4 class="peoples-slider__title section-heading">Леда Агро - это люди</h4>
            <div class="peoples-slider__wrapper js-person-slider">
                {{ views_worker }}
            </div>
            <div class="custom-arrows custom-arrows--about js-arrows"></div>
        </div>
    </section>
    <section class="steps">
        <div class="container">
            {{ views_about_item }}
        </div>
    </section>
    <section class="plans">
        <div class="container">
            <div class="plans__wrapper">
                <h3 class="plans__title section-heading">Наши планы на будущее</h3>
                <p class="text">{{ node.field_page_text_field.value|raw }}</p>
            </div>
        </div>
    </section>
    <section class="media">
        <div class="container">
            <h3 class="media__title section-heading">Медиа</h3>
            {{ views_about_media }}
        </div>
    </section>
</main>