<main>
    <section class="hero hero--contacts container">
        <h2 class="hero__heading hero__heading--centered heading">Контакти</h2>
        <p class="hero__background-heading">Контакти</p>
        <div class="contacts js-contacts">
            {{ views_contacts_ua }}
			<a href="#shops" class="contacts__item contacts__item--anchor js-anchor">До магазинів <img src="/themes/new/images/svg/arrow-down.svg" class="contacts__item-arrow"/></a>
        </div>
    </section>
	<section class="map" id="shops">
		<div class="container">
			<h4 class="catalog__title section-heading">{{ 'Где купить'|t }}</h4>
		</div>
		<div class="map__wrapper">
      <div class="map__shops-wrapper">
        <h6>Інтернет магазини</h6>
        <ul>
          <li><a href="http://fazenda.net.ua/" target="_blank">fazenda.net.ua</a></li>
          <li><a href="http://semillas.prom.ua" target="_blank">semillas.prom.ua</a></li>
          <li><a href="http://sempochta.com.ua" target="_blank">sempochta.com.ua</a></li>
          <li><a href="http://mirsemyan.com.ua" target="_blank">mirsemyan.com.ua</a></li>
        </ul>
      </div>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Igd7ceRCWB1ZJCf-sYFibPIao0gJ-nlY" width="auto" height="500" scrolling="no"></iframe>
    </div>
  </section>
</main>
